:root {
    --primary: #a5d296;
}

.btno {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #a5d296;
    color :#fff;
}

.btno:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #467AA0;
    color: #fff;
    transition: 250ms;
}

.btno--primary {
    background-color: var(--primary);
}

.btno--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btno--medium {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
}

.btno-large {
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
}