.text-title{
    font-family: 'Lilita One', cursive;
    color: #268AFF;
    padding :3rem 5rem   ;
   
}
.fonction{
    padding :3rem 5rem   ;
}
ul{
    list-style-type: none;
  }


.li{

color:#04D260 ;
  }