.title-profile{
    font-family: 'Jura', sans-serif;
    font-weight: 500;

}
#hero-profile{

    background-image: url('../../assets/bg2.svg');
    background-size: cover;
    
    max-width: 100%;

}